.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.navbar {
  border-radius: 0px; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index: 1200; }

.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default; }

.d3-context-menu ul li {
  padding: 4px 16px; }

.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe; }

.panel {
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  padding: 20px;
  padding: 1.25rem;
  background: #00BCD4;
  color: #333333; }

.ssv-control {
  width: 100%;
  height: 100%; }

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.full-height {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  max-height: initial; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  color: white; }

.simdraw-title {
  border-bottom-width: 1px;
  border-bottom-color: #424242;
  border-bottom-style: solid;
  background-color: #01579B; }

.simdraw-visual {
  height: 90vh;
  max-height: 90vh; }

html {
  height: 100%; }

body {
  min-height: 100%; }

#draw-menu {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%; }

#top-sidebar-menu {
  position: absolute;
  top: 0;
  height: 100px;
  left: 0;
  right: 0;
  background: #EEEEEE; }

#left-sidebar, #right-sidebar {
  background: #373737;
  top: auto;
  position: absolute;
  height: 100%; }

#right-sidebar {
  border-left: 2px solid #BDBDBD;
  color: #fff; }

#right-sidebar label {
  color: #fff; }

#right-sidebar .ui.label {
  color: #fff;
  background-color: transparent; }

#top-sidebar {
  margin: 0;
  border-bottom: 1px solid #BDBDBD; }

#left-sidebar-menu {
  position: absolute;
  left: 0;
  top: 100px;
  bottom: 0;
  width: 200px;
  background: #EEEEEE; }

#right-sidebar-menu {
  position: absolute;
  right: 0;
  top: 100px;
  bottom: 0;
  width: 200px;
  background: #EEEEEE; }

#element-context-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: #EEEEEE; }

.diagram-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  height: 100%;
  width: 100%; }

.shape-select-container {
  display: block;
  padding: 5px;
  overflow: hidden; }

.menu-select-container {
  display: block;
  padding: 5px;
  overflow: hidden; }

.shape-item {
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 1px;
  display: inline-block;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.menu-item {
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 1px;
  display: inline-block;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: black; }

.menu-item:hover {
  border: 1px solid #BDBDBD; }

.shape-icon {
  width: 36px;
  height: 36px;
  display: block;
  overflow: hidden;
  cursor: move;
  left: 2px;
  top: 2px; }

.menu-icon {
  width: 36px;
  height: 36px;
  display: block;
  overflow: hidden;
  cursor: move;
  left: 2px;
  top: 2px; }

.shape-svg-container {
  visibility: visible; }

.shape-svg {
  fill: #ffffff;
  pointer-events: all;
  stroke: #000000;
  stroke-width: 2; }

.diagram-mat {
  background-color: #EFEBE9;
  z-index: -5;
  min-height: 100%;
  min-width: 100%; }

.diagram-background {
  position: absolute;
  border-width: 1px;
  overflow: hidden;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 100%;
  border-color: #cacaca;
  border-style: solid;
  background-color: white;
  background-position: -1px -1px;
  z-index: -1; }

.diagram {
  position: absolute;
  fill: none; }

.display-block {
  display: block; }

.display-none {
  display: none; }

.diagram-space {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  fill-opacity: 0;
  pointer-events: all; }

.draw-sidebar {
  top: auto; }

.shape-outline {
  fill: none;
  stroke: #FFE082;
  stroke-width: 2px;
  stroke-dasharray: 5,5; }

.resizer-circle {
  fill: #FFE082;
  stroke: #373737;
  stroke-width: 1px;
  cursor: se-resize; }

rect {
  vector-effect: non-scaling-stroke; }

#simvis-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.draw-container {
  height: 100%;
  width: 100%; }

.draw-container-bottom {
  position: absolute;
  top: 74px;
  bottom: 0;
  left: 0;
  right: 0; }

.diagram-wrapper {
  position: absolute;
  height: 100%; }

.dropzone {
  width: 100%;
  height: 200px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px;
  display: table; }

.dropzone-area {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#data-table {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  border-right: 3px solid #BDBDBD; }

.select-outline {
  pointer-events: all;
  stroke: #666666;
  stroke-width: 2px;
  stroke-dasharray: 10 5;
  fill: none; }

.select-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  fill: none;
  border: none;
  pointer-events: visible; }

.diagram-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.color-set-div {
  height: 15px;
  width: 10px;
  float: right; }

.left-sidebar-resizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #BDBDBD; }

.color-picker-btn {
  width: 100%;
  background: #373737; }

.color-picker-icon {
  border: 1px solid black;
  border-radius: 2px;
  margin-left: 10px;
  width: 15px;
  height: 0.75em;
  display: inline-block; }

/*
.left-sidebar-resizer:hover {
  background-color:$colorF
}
*/
.text-container {
  display: inline-block;
  line-height: 1.2;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  word-wrap: normal;
  text-align: center; }

.text {
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: text-top;
  outline: 0px solid transparent; }

#header-container {
  margin-bottom: 0;
  border-bottom: none;
  background: #373737; }

.ui.styled.accordion {
  border-radius: 0;
  background: #F4F4F4; }

#header-container .ui.menu {
  border-radius: 0;
  background: #373737; }

.draw-container-top .ui.menu {
  border-radius: 0;
  background: #F4F4F4;
  border-bottom: 2px solid #373737; }

#right-sidebar .ui.segment {
  background: #BDBDBD; }

#top-sidebar .ui.menu {
  border-radius: 0;
  background: #F4F4F4; }

.item.no-border:before {
  display: none; }

#right-sidebar .tabular.menu {
  background: #F4F4F4; }

#right-sidebar .bottom.segment {
  background: #F4F4F4; }

#right-sidebar .shapes-selected-menu label {
  color: #373737; }

#right-sidebar .shapes-selected-menu button {
  color: #EFEBE9;
  background: #BDBDBD; }

#right-sidebar .shapes-selected-menu button:hover {
  background: #373737; }

.xaxis-btn {
  width: 110px; }
