
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

////////////////////////////////
		//Main//
////////////////////////////////
.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

.panel {
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #00BCD4;
  color: #333333;
}

.ssv-control {
    width:100%;
    height:100%;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.full-height {
    height:100%;
    margin-top:auto;
    margin-bottom:auto;
    max-height:initial
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color:white;
}

.simdraw-title {
    border-bottom-width:1px;
    border-bottom-color:#424242;
    border-bottom-style:solid;
    background-color:#01579B;
}

.simdraw-visual {
    height:90vh;
    max-height:90vh;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.draw-container {
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
}

.left-sidebar-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: #EEEEEE;
}

.shape-select-container {
  display: block;
  padding: 5px;
  overflow: hidden;
}

.shape-item {
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 1px;
  display: inline-block;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.shape-item:hover {
  border: 1px solid #BDBDBD;
}

.shape-icon {
  width: 36px;
  height: 36px;
  display: block;
  overflow: hidden;
  cursor: move;
  left: 2px;
  top: 2px;
}

.diagram-container {
  position: absolute;
  right: 0px;
  left: 200px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
}

.diagram-background {
  position: absolute;
  border-width: 1px;
  overflow: hidden;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-color: rgb(202, 202, 202);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
  background-position: -1px -1px;
  z-index: -1;
}

.diagram {
  width: 100%;
  height: 100%;
}
