{% extends "base.html" %}

{% block navbar %}

{% endblock %}

{% block container %}
    <div class="draw-container">
        <div class="left-sidebar-container">
            <div class="shape-select-container">
                <div class="shape-select">
                    {% for k,v in shape_icons.items %}
                    <a class="shape-item" id={{ k }}>
                        <svg class="shape-icon">
                            {{ v|escape|safe }}
                        </svg>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="diagram-container">
            <div class="diagram-background"></div>
            <svg class="diagram">
                <rect class="diagram-space" style="width:100%;height:100%;fill: #ffffff;fill-opacity:0;pointer-events:all;">

                </rect>
            </svg>
        </div>
    </div>
{% endblock %}


