{% extends "base.html" %}

{% block navbar %}

{% endblock %}

{% block container %}
    <div class="draw-container">
        <div class="left-sidebar-container">
            <div class="shape-select-container">
                <div class="shape-select">
                    {% for a in shape_icons %}
                    <a class="shape-item">
                        <svg class="shape-icon">
                            {{ a|escape|safe }}
                        </svg>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="diagram-container">
            <div class="diagram-background"></div>
            <svg class="diagram"></svg>
        </div>
    </div>
{% endblock %}


